.container {
    text-align:center;
  
}

.view-highscores {
    position:absolute;

}
.time {
    position:absolute;
    top:0;
    right:0;
}

li {
    margin-left:5px;
}

.hide {
    opacity:0;
}

.correct {
    color: green;
    font-weight: 600;
}

.incorrect {
    color:red; 
    font-weight: 600;
}