.container {
    text-align:center;
    border:5px solid white;
    background-image:url(../assets/space-911785_1920.jpg);
    
}

.jumbotron {
    background-image:url(../assets/space-911785_1920.jpg);
    border-bottom:5px solid white;
}
body {
    background-color:black;
}

#question {
    color:white;
    font-weight:500;
    padding:20px;
    font-family: 'Audiowide', cursive;
    font-size:200%;

}

.orange{
    text-align:center;
    font-weight:100;
    font-family: 'Audiowide', cursive;
    font-size:100%;
    border-radius:10px;
    padding:10px;
    background-color:#190100;
    color:white;
}

#title {
    text-align:center;
    color:white;
    font-family: 'Audiowide', cursive;
    margin-left:38%;
    font-size:300%;
}

/*******************BUTTONS************************/
#start-btn {
    margin-left:80px;
    margin-bottom:50px;
    
}
#next-btn {
    text-align:center;
    margin-right:20px;
    margin-top:50px;
    border-style:none;
    font-weight:100;
    font-family: 'Audiowide', cursive;
    font-size:300%;
    border-radius:10px;
    padding:10px;
    color:white;
    background-color:none;
}
#next-btn:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.view-highscores {
    position:absolute;
    margin-left:80px;  
}
#dropdownMenuButton {
    background-color:#190100;
    color:white;
    font-family: 'Audiowide', cursive;
    border-style:none;
}
.ansButton {
    background-color:#190100;
    color:white;
    border-radius:20px;
    border-style:none;
    padding:10px;
    font-family: 'Audiowide', cursive;
    font-size:large;
}
.ansButton:hover {
    animation: bounce .5s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
#submit {
    padding:10px;
    font-family: 'Audiowide', cursive;
    color:white;
    background-color:#190100;
    border-radius:10px;
    border-style:none;
}
/*******************************************/




.time {
    position:absolute;
    top:0;
    right:0;
    border-radius:10px;
    padding:10px;
    margin-top:60px;
    margin-right:80px;
    background-color:#190100;
    color:white;
    font-family: 'Audiowide', cursive;
}

li {
    margin-left:5px;
}

.hide {
    opacity:0;
}
.incorrect {
    color:white; 
    font-weight: 600;
}

#form {
    color:Black;
    font-family: 'Audiowide', cursive;
    margin-bottom:10px;
}

form {
    color:white;
    font-family: 'Audiowide', cursive;
}

#final-score {
    color:white;
    font-family: 'Audiowide', cursive;
    margin-bottom:10px;
}

.fa-trophy {
    font-size:300%;
    margin-bottom:160px;
}

.correct {
    color:white;
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    #title {
      font-size:300%;
      margin-top:20px;
      margin-left:170px;
    }
    .view-highscores{
        position:relative;
        margin-top:0;
        margin-left:270px;

    }
    .time{
        position:relative;
        margin-left:160px;
        padding:5px;
        margin-left:285px;
    }
    #start-btn {
        margin-left:170px;
    }
    #next-btn {
        margin-left:40px;
    }

    #submit-refresh {
        padding:10px;
    }
}
  

@media only screen and (max-width: 600px) {
    #title {
      font-size:100%;
      margin-top:20px;
      margin-left:160px;
    }
    .view-highscores{
        position:relative;
        margin-top:0;
        margin-left:140px;

    }
    .time{
        position:relative;
        margin-left:160px;
        padding:5px;
    }
    #start-btn {
        margin-left:40px;
    }
    #next-btn {
        margin-left:40px;
    }
  }
